* {
	font-family: Helvetica;
}

#author {
	float: left;
	background-color: #032b4b;
	color: white;
	padding: 10px 10px 10px 20px;
	margin-left: -20px;
	margin-top: 100px;
	display: none;
}

h1 {
	font-family: Telegrafico;
}

#header {
	text-align: center;
	background-color: #a8a988;
	color:white;
	padding: 14px 0px 20px 0px;
	margin-left: 200px;
	margin-right: 200px;
	border-radius: 3px;
}

.input-class {
	font-size: 18px;
	padding-left: 10px;
}

#options {
	margin-top: 20px;
}

.search-options {
	width: 70px;
	display: inline-block;
	background: #786717;
	padding: 8px;
	border-radius: 2px;
	margin-left: 10px;
	margin-right: 10px;
}

.search-options:hover {
	background: #ba9f26;
}


#chart_div {
	margin: auto;
}

#loader {
	margin: auto;
	display: block;
	padding-top: 150px;
}


::-webkit-input-placeholder { font-style: italic; }
::-moz-placeholder { font-style: italic; } 
input:-moz-placeholder { font-style: italic; }